@tailwind base;
@tailwind components;
@tailwind utilities;

.video {
    background-image: url(assert/Rectangle\ 8691.png);
    background-position: center;
    background-repeat: no-repeat;
  background-size: contain;
}

